@using Main.Models;

@model IEnumerable<Food>;

@{
    ViewData["Title"] = "Comidas";
}

<h2>Comidas</h2>

@foreach (Food food in Model)
{
    <div>
    <h4>@food.</h4>
    <p>@food.Description</p>
    <p>@food.Price</p>
</div>
}
